body{
    margin: 0;
    background-image: url('https://picsum.photos/1200/800');
    background-size: cover;
    /*background-color: #4c92e0;
    background-image: linear-gradient(45deg, #4c92e0 17%, #80D0C7 55%, #12a0ff 100%);    
    background-color: #62625a;
    background-image: linear-gradient(43deg, #62625a 20%, #e0e050 55%, #f2253b 89%);*/    
    font-family: Arial, Helvetica, sans-serif;
}

.lc {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
}
    
.lh{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
    
.lh img {
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    margin-top: 5%;
}

th, td {
    text-align:center;
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}

input[type="submit"]{
    background-color: #229d37;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

a {
    display: inline-block;
    padding: 5px 5px;
    background-color: #9b060d;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

a:hover {
    background-color: #3f0a0a;
}